<!DOCTYPE html>
<html>
  <head>
    {{ content_for_header }}
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    {{- 'styles.css' | asset_url | stylesheet_tag -}}
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/" class="header__logo">Edus store</a>
      
        <ul class="header-first__nav">
          {%- for link in linklists.main-menu.links -%}
          <li class="header-nav__item">
            <a href="{{ link.url }}" class="header-nav__link">{{ link.title | escape }}</a>
          </li>
          {%- endfor -%}
        </ul>
      
        <ul class="header-second__nav">
          <li class="header-nav__item">
            <a class="header-nav__link" href="/collections/all">
              <i class="fas fa-truck"></i>Order Now
            </a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="/cart">
              <i class="fas fa-shopping-cart"></i>Cart(<span>{{ cart.item_count }}</span>)
            </a>
          </li>
        </ul>
      </header>
      <div class="main">
        {{ content_for_layout }}
      </div>
    </div>
    {{- 'theme.js' | asset_url | script_tag -}}
  </body>
</html>
